table {
  font-family: 'KoHo', sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table p {
  margin: 0.5em;
}

thead {
  background-color: rgb(87, 79, 192);
  color: #fff;
}

th {
  border: 1px solid #999999;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #b3b3b3;
}
